<div class="container">
  <nav class="sidebar">
    <ul>
      <li>
        <Link @to="/">Home</Link>
      </li>
      <li>
        <Link @to="/hello">Hello</Link>
      </li>
      <li>
        <Link @to="/goodbye">Goodbye</Link>
      </li>
    </ul>
    <Route @path="/hello" as |match|>
      {{match.url}} also render content in the sidebar!
    </Route>
  </nav>

  <section class="content">
    <Route @path="/" class="route" as |match|>
      <h1>Welcome to glimmer-router!</h1>
      <div>I am the content of the route matching '{{match.url}}'</div>
    </Route>

    <Route @path="/hello" as |match|>
      <h1>Hello!</h1>
      <div>I am the content of the route matching '{{match.url}}'</div>
    </Route>

    <Route @path="/goodbye" as |match|>
      <h1>Goodbye <small>{{match.url}}</small></h1>
    </Route>
  </section>
</div>
